<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
         配置别名 package
        <package name="cn.resico.test.entity"/>
    </typeAliases>
    <mappers>

           <package name="cn.resico.test.mapper"/>
    </mappers>-->
</configuration>