<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.resico.test.dao.InterfaceMapper">

    <insert id="addInterface" parameterType="Interface">
        insert into interface (name,requestType,protocolType) values (#{name},#{requestType},
        #{protocolType})
    </insert>
    <delete id="deleteInterface" parameterType="int">
        delete from interface where  id=#{id}
    </delete>
    <update id="updateInterface">
        update interface set name =#{name},requestType=#{requestType},protocolType=#{protocolType}    where id=#{id} ;
    </update>

    <select id="queryInterfaceByName" parameterType="String" resultType="cn.resico.test.pojo.Interface">
        select * from   interface where name like concat('%',#{0},'%')
    </select>

    <select id="queryInterface" resultType="Interface">
        select * from   interface
    </select>

    <select id="queryInterfaceById" resultType="Interface">
        select * from   interface where id=#{id}
    </select>

    <select id="queryLimit" parameterType="hashmap" resultType="Interface">
        select * from   interface limit #{startIndex} ,#{page}
    </select>

    <select id="query" resultType="Interface">
        SELECT
        i.id ,
        i.NAME ,
        i.requestType ,
        i.protocolType ,
        g.NAME gname
        FROM
        interface i
        LEFT JOIN group_ g ON i.group_id = g.id
        <where>
            <if test="name != &quot;&quot;  ">
                AND i.NAME like concat('%',#{name},'%')
            </if>
            <if test="requestType != &quot;&quot;">
                AND i.requestType=#{requestType}
            </if>
            <if test="groupId != null">
                AND i.group_id=#{groupId}
            </if>
        </where>
    </select>
</mapper>
  
